.box1{
    height:200px;
    width:200px;
    padding: 20px;
    border:20px solid black;
    border-image-source: url(image1.jpg);
    border-image-slice:78px;
    border-image-repeat: round;
    border-image-width: 50px;
}
.box2{
    height:200px;
    width:200px;
   background-color: rgb(93, 13, 167);
    background-image:linear-gradient(
        red 20%, green 45%,yellow 80% 
    );
}
.box3{
    height:200px;
    width:200px;
   background-color: rgb(43, 226, 73);
    background-image:linear-gradient(
        red, green,blue 
    );
}

.box4{
    height:200px;
    width:200px;
   background-color: rgb(43, 226, 73);
    background-image:linear-gradient(
       90deg, red, green,blue 
    );

}